<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="shortcut icon" href="../assets/avatar.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venilton Junior</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <header>
      <div class="avatar">
        <a href="../index.html">
          <img src="../assets/avatar.png" alt="Venilton">
        </a>
      </div>
      <div class="links">
        <a href="../index.html">Home</a>
        <a href="./trajetoria.html">Trajetória</a>
        <a href="./projects.html">Projetos</a>
      </div>
    </header>

    <main>
      <div>
        <h1>Projetos</h1>
        <ul>
          <li>
            <h2>
              Primeiro Projeto
            </h2>
            <p>
              Foi o primeiro contato com o profissional do desenvolvimento de software, onde eu fazia parte da equipe de 4 desenvolvedores. O projeto consistia em um sistema de treinamentos para empresas arquitetado em micro serviços. No começo, eu fiquei criando testes unitários e de integração e, após isso, trabalhei nas entidades e value objects.
            </p>
            <p>
              Após esse tempo de adaptação, recebi algumas responsabilidades e fiz a implementação de alguns conteúdos e adquiri muitos conhecimentos sobre APIs REST.
            </p>
          </li>
          <li>
            <h2>
              DevLinks
            </h2>
            <p>
              Este foi meu primeiro projeto para um portfólio, onde eu fiz minha página de links para uso profissional. O projeto foi feito em HTML, CSS e JavaScript puro.
            </p>
            <p>
              Para acessar o link do projeto, basta clicar <a href="https://github.com/DevVeniltonJunior/DevLinks/tree/main" target="_blank">aqui</a>.
            </p>
          </li>
          <li>
            <h2>
              VueJS
            </h2>
            <p>
              Este projeto foi desenvolvido com o intuito de aprender e praticar os conceitos do Vue.js, um framework JavaScript progressivo para a construção de interfaces de usuário. A simulação de uma lanchonete foi escolhida como cenário para aplicar esses conhecimentos. O projeto utiliza o json-server, uma biblioteca que permite criar um servidor RESTful com base em um arquivo JSON. Isso nos permite simular um back-end.
            </p>
            <p>
              Para acessar o link do projeto, basta clicar <a href="https://github.com/DevVeniltonJunior/VueJs" target="_blank">aqui</a>.
            </p>
          </li>
          <li>
            <h2>
              Ride
            </h2>
            <p>
              Esse projeto foi um teste que eu realizei onde a API deveria possibilitar aos usuários a criação de pedais ciclísticos para que outros usuários possam visualizá-los e se inscrever. O projeto foi desenvolvido em Typescript, GraphQL, Express, Prisma, Postgres e Docker.
            </p>
            <p>
              Este foi um desafio muito grande, pois eu não conhecia bem o GraphQL, mas com muita pesquisa e estudo consegui realizar o projeto e foi muito satisfatório ver o projeto funcionando.
            </p>
            <p>
              Para acessar o link do projeto, basta clicar <a href="https://github.com/DevVeniltonJunior/Ride" target="_blank">aqui</a>.
            </p>
          </li>
        </ul>
      </div>
    </main>

    <footer>
      <div>
        <p>Desenvolvido por Venilton Junior</p>
        <p>&copy; 2023 Venilton Junior</p>
        <p>Todos os direitos reservados</p>
      </div>
    </footer>
  </body>
</html>