<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="shortcut icon" href="../assets/avatar.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venilton Junior</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <header>
      <div class="avatar">
        <a href="./index.html">
          <img src="../assets/avatar.png" alt="Venilton">
        </a>
      </div>
      <div class="links">
        <a href="./index.html">Home</a>
        <a href="./trajetoria.html">Trajetória</a>
        <a href="./projects.html">Projetos</a>
      </div>
    </header>

    <main>
      <div>
        <h1>Trajetória</h1>
        <p>
          Desde pequeno, sempre fui curioso com a construção das coisas. Isso me levou a desmontar e pesquisar sobre diversos objetos, o que ocasionou em quebrar várias coisas dentro de casa. Com o passar do tempo, meu interesse se voltou para a engenharia, e comecei a estudar sobre mecânica. No entanto, ao atuar nessa área, percebi que não era o que eu realmente queria. Foi então que assisti a um vídeo no YouTube sobre produção de jogos, despertando meu interesse pela programação, e comecei a estudar sobre o assunto.
        </p>
        <p>
          No início, fiquei um pouco perdido em relação ao que estudar. Passei por linguagens como Java, mySQL, HTML, CSS e JavaScript, mas não sabia exatamente como aplicá-las e qual seria o próximo passo em minha jornada na programação. Desenvolvi algumas aplicações simples para me auxiliar no dia a dia do meu trabalho. Após um período estagnado, consegui um estágio como desenvolvedor web, onde pude trabalhar com tecnologias como Typescript, NodeJS, VueJS, Quasar, MongoDB, Clean Architecture, TDD e DDD. Isso me ajudou a compreender como funciona o desenvolvimento de software de maneira mais estruturada.
        </p>
        <p>
          Atualmente, meu objetivo é atuar como Desenvolvedor full-stack e me especializar ainda mais em desenvolvimento de software.
        </p>
      </div>
    </main>

    <footer>
      <div>
        <p>Desenvolvido por Venilton Junior</p>
        <p>&copy; 2023 Venilton Junior</p>
        <p>Todos os direitos reservados</p>
      </div>
    </footer>
  </body>
</html>