<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venilton Junior</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <header>
      <div>
        <a href="./index.html">
          <img width="75px" height="75px" src="../assets/person-circle-outline.svg" alt="User">
        </a>
      </div>
      <div>
        <a href="./index.html">Home</a>
        <a href="./trajetoria.html">Trajetória</a>
        <a href="./projects.html">Projetos</a>
      </div>
    </header>

    <div>
      <h1>Trajetória</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quasi, recusandae maxime quis adipisci voluptatibus consectetur cumque optio doloribus debitis quam nam suscipit. Porro maiores alias a est tempore earum.
    </div>

    <footer>
      <div>
        <p>Desenvolvido por Venilton Junior</p>
        <p>&copy; 2023 Venilton Junior</p>
        <p>Todos os direitos reservados</p>
      </div>
    </footer>
  </body>
</html>