* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.8;
  color: white;
}

body {
  background: #201f1f url("../assets/background.svg") no-repeat center/cover;
}

header {
  top: 0;
  width: 100vw;
  min-height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  color: white;
  background: #201f1f url("../assets/header.svg") no-repeat center/cover;
}

header a {
  text-decoration: none;
  color: white;
}

.avatar a {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}

.avatar a img {
  width: 75px;
  height: 75px;
}

.avatar a img:hover {
  border-radius: 50%;
  border: 2px solid #fcba03;
}

.links {
  display: flex;
  flex-wrap: wrap;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  font-size: 24px;
  font-weight: 500;
}

#menu {
  border-radius: 5px;
  padding: 0 10px;
  background-color:  rgba(255, 255, 255, 0.1);
  border: 0.2px solid rgba(255, 255, 255, 0.5);
}

#menu:hover {
  color: #f7c63e;
  background-color: white;
}

main {
  margin-top: 30px;
  min-width: 100vw;
}

main h1 {
  text-align: center;
  padding: 32px 0;
  color: #fcba03;
}

main p {
  text-align: left;
  justify-content: left;
  word-break: break-word;
  margin: 0 50px;
  text-indent: 50px;
}

main p a {
  text-decoration: none;
}

#sobremin_images {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  left: 50%;
  top: 50%;
}

#foto_vertical {
  border-radius: 30px;
  border: 2px solid white;
  height: 30vw;
  margin: 0 60px;
  transform: rotate(-90deg);
}

main img {
  border-radius: 30px;
  border: 2px solid white;
  height: 30vw;
  margin: 0 60px;
}

main ul {
  text-align: left;
  justify-content: left;
  margin: 0 50px;
  list-style: none;
}

ul h2 {
  font-size: 28px;
  margin-bottom: 25px;
  color: #9803fc;
}

ul li {
  margin: 30px 0;
}

footer {
  margin-top: 60px;
  padding: 12px 0;
  bottom: 0;
  width: 100vw;
  background: #201f1f url("../assets/footer.svg") no-repeat center/cover;
  font-size: 16px;
}

footer p {
  text-align: center;
  justify-content: center;
  padding: 4px;
}

#footerText {
  color: #fcba03;
}

@media (max-width: 700px) {
  main img {
    height: 80vw;
  }

  main p {
    margin: 0 20px;
    text-indent: 20px;
  }

  #foto_vertical {
    height: 80vw;
  }

  body {
    background: #201f1f url("../assets/mobile-background.svg") no-repeat center/cover;
  }

  .links {
    gap: 8px;
    margin-top: 15px;
  }
}
